<div>
  <div id="messages"></div>
  <input
    class="input is-warning is-medium"
    type="text"
    id="texto"
    style="margin-top: 15px"
  />
  <button
    id="enviar"
    class="button is-danger is-light"
    style="margin-top: 15px"
  >
    Enviar
  </button>
</div>
