<section>
  <div class="container mt-6" style="max-width: 500px">
    <form action="/api/products" method="post" enctype="multipart/form-data">
      <h3 class="is-size-3 mb-5">Ingrese un nuevo producto</h3>
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Ingrese el nombre del producto"
            value=""
            name="title"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Precio</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Ingrese el precio del producto"
            value=""
            name="price"
          />
        </div>
      </div>

      <div class="field">
        <div class="file is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="thumbnail" />
            <span class="file-cta">
              <span class="file-icon">
                <ion-icon
                  name="cloud-upload-outline"
                  style="font-size: 25px"
                ></ion-icon>
              </span>
              <span class="file-label"> Sube una imágen </span>
            </span>
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-light">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</section>
